/*
|--------------------------------------------------------------------------
| MAIN DESIGN
|--------------------------------------------------------------------------
|
| Design global de l'application
|
*/

/*
|--------------------------------------------------------------------------
| GENERAL
|--------------------------------------------------------------------------
*/
body {
	overflow-x: hidden;

	margin: 0;
	padding: 0;

	background: black;
}

.clearfix {
	display: inline-block;
}

.clearfix::after {
	display: block;
	visibility: hidden;
	clear: both;

	height: 0;

	content: "";

	line-height: 0;
}

.hidden {
	display: none;
}

/*
|--------------------------------------------------------------------------
| NAVIGATION
|--------------------------------------------------------------------------
*/
nav#control {
	position: fixed;
	z-index: 100;
	top: 20px;
	left: 10px;

	height: 40px;

	opacity: 0.9;
	border: 2px solid #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #333;
}

nav#control ul {
	padding: 0;

	list-style-type: none;
}

nav#control li {
	position: relative;
	top: 0;

	float: left;

	width: 50px;

	text-align: center;

	color: white;

	font-size: 2em;
	line-height: 40px;
}

nav#control li:first-of-type {
	-webkit-border-bottom-left-radius: 7px;
	border-bottom-left-radius: 7px;
	-webkit-border-top-left-radius: 7px;
	border-top-left-radius: 7px;



	-moz-border-radius-topleft: 7px;
	-moz-border-radius-bottomleft: 7px;
}

nav#control li:last-of-type {
	-webkit-border-top-right-radius: 7px;
	border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	border-bottom-right-radius: 7px;



	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
}

nav#control li:hover {
	cursor: pointer;

	background: #555;
}

nav#menu {
	position: fixed;
	z-index: 100;
	top: 50%;
	right: 10px;

	width: 200px;
	height: 250px;
	margin-top: -125px;

	text-align: left;

	border-width: 16px;
	-webkit-border-image: url('../img/nav.png') repeat;
	-moz-border-image: url('../img/nav.png') repeat;
	border-image: url('../img/nav.png') 16 repeat;
}

nav#menu ul {
	width: 100%;
	height: 100%;

	list-style-type: none;

	background-color: #f8f8f8;
}

nav#menu li {
	margin: 10px 20px;
}

nav#menu li:last-of-type {
	position: absolute;
	bottom: 0;	
}

nav#menu li a {
	display: inline-block;

	width: 100%;
	height: 100%;

	text-decoration: none;

	color: #606060;

	font-family: 'Press Start 2P', cursive;
	font-size: 12px;
	line-height: 36px;
}

nav#menu li a:hover {
	cursor: default;
}

nav#menu a:hover::before {
	margin-left: -12px;

	content: url('../img/left-arrow.png');
}

/*
|--------------------------------------------------------------------------
| FONTS
|--------------------------------------------------------------------------
*/
@font-face {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-style: normal;



  src: 	local('fonts/PressStart2P-Regular.ttf'), 
  		local('fonts/PressStart2P-Regular.ttf'), 
  		url('fonts/PressStart2P-Regular.ttf') format('woff');
}

@font-face {
	font-family: 'RaphaelIcons';
    font-weight: normal;
    font-style: normal;



    src: 	url('../fonts/raphaelicons-webfont.eot');
    src: 	local('☺'), 
    		url('../fonts/raphaelicons-webfont.woff') format('woff'), 
    		url('../fonts/raphaelicons-webfont.ttf') format('truetype'), 
    		url('../fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
}

.font-icon {
    font-family: 'RaphaelIcons';
}

/*
|--------------------------------------------------------------------------
| NOTIFICATIONS
|--------------------------------------------------------------------------
*/
.toast-container {
	z-index: 9999;

	width: 800px;
}

* html .toast-container {
	position: absolute;
}

.toast-item {
	position: relative;

	display: block;

	height: auto;
	margin: 0 0 12px 0;
	padding: 20px 6px 20px 6px;

    opacity: 0.9;
	color: #eee;
	border: 2px solid #999;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #333;

	font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.toast-item p {
    margin-left: 50px;

    text-align: left;
}

.toast-item strong {
	font-weight: bold;
}

.toast-item em {
	font-style: italic;
}

.toast-item-close {
    position: absolute;
    top: 7px;
    right: 7px;

    width: 22px;
    height: 22px;

    background: url('../img/notifications/close.gif');
}

.toast-item-image {
    position: absolute;
    top: 50%;
    left: 10px;

    width: 32px;
    height: 32px;
    margin-top: -16px;
}

.toast-item-image-notice {
    background: url('../img/notifications/notice.png');
}

.toast-item-image-success {
    background: url('../img/notifications/success.png');
}

.toast-item-image-warning {
    background: url('../img/notifications/warning.png');
}

.toast-item-image-error {
    background: url('../img/notifications/error.png');
}

/**
 * Type of notification
 *
 * Pattern: toast-type-[value]
 * where 'value' is the real value of the plugin option 'type'
 *
 */
.toast-type-notice {
    border-color: #5096d3;
}

.toast-type-success {
    border-color: #94C22B;
}

.toast-type-warning {
    border-color: #FCBD57;
}

.toast-type-error {
    border-color: #B32B2B;
}

/**
 * Position of notification
 *
 * Pattern: toast-position-[value]
 * where 'value' is the real value of the plugin option 'position'
 *
 */
.toast-position-top-left {
    position: fixed;
    top: 20px;
    left: 20px;
}

.toast-position-top-center {
    position: fixed;
    top: 20px;
    left: 50%;

    margin-left: -400px;
}

.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.toast-position-middle-left {
    position: fixed;
    top: 50%;
    left: 20px;

    margin-top: -40px;
}

.toast-position-middle-center {
    position: fixed;
    top: 50%;
    left: 50%;

    margin-top: -40px;
    margin-left: -400px;
}

.toast-position-middle-right {
    position: fixed;
    top: 50%;
    right: 20px;

    margin-top: -40px;
}

.toast-position-bottom-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.toast-position-bottom-center {
    position: fixed;
    bottom: 20px;
    left: 50%;

    margin-left: -400px;
}

.toast-position-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 20px;
}



/*
|--------------------------------------------------------------------------
| LIGHTBOX
|--------------------------------------------------------------------------
*/

/**
 * ColorBox Style
 *
 * CSS de base des composants de la librairie colorbox.js
 *
 */
#colorbox, #cboxOverlay, #cboxWrapper {
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;

	overflow: hidden;
}

#cboxOverlay {
	position: fixed;

	width: 100%;
	height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	display: block;
	float: left;

	max-width: none;
	margin: auto;

	border: 0;
}

.cboxIframe {
	display: block;

	width: 100%;
	height: 100%;

	border: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
	box-sizing: content-box;
}

/**
 * MiNET lightbox Style
 *
 * Personnalisation des composants pour les lightbox du jeu
 *
 */
#cboxOverlay {
	background: #000;
}

#cboxTopLeft {
	width: 14px;
	height: 14px;

	background: url('../img/lightbox/controls.png') no-repeat 0 0;
}

#cboxTopCenter {
	height: 14px;

	background: url('../img/lightbox/border.png') repeat-x top left;
}

#cboxTopRight {
	width: 14px;
	height: 14px;

	background: url('../img/lightbox/controls.png') no-repeat -36px 0;
}

#cboxBottomLeft {
	width: 14px;
	height: 43px;

	background: url('../img/lightbox/controls.png') no-repeat 0 -32px;
}

#cboxBottomCenter {
	height: 43px;

	background: url('../img/lightbox/border.png') repeat-x bottom left;
}

#cboxBottomRight {
	width: 14px;
	height: 43px;

	background: url('../img/lightbox/controls.png') no-repeat -36px -32px;
}

#cboxMiddleLeft {
	width: 14px;

	background: url('../img/lightbox/controls.png') repeat-y -175px 0;
}

#cboxMiddleRight {
	width: 14px;

	background: url('../img/lightbox/controls.png') repeat-y -211px 0;
}

#cboxContent {
	overflow: visible;

	background: #fff;
}

.cboxIframe {
	background: #fff;
}

#cboxError {
	padding: 50px;

	border: 1px solid #ccc;
}

#cboxLoadedContent {
	margin-bottom: 5px;
}

#cboxLoadingOverlay {
	background: url('../img/lightbox/loading_background.png') no-repeat center center;
}

#cboxLoadingGraphic {
	background: url('../img/lightbox/loading.gif') no-repeat center center;
}

#cboxTitle {
	position: absolute;
	bottom: -25px;
	left: 0;

	width: 100%;

	text-align: center;

	color: #7C7C7C;

	font-weight: bold;
}

#cboxCurrent {
	position: absolute;
	bottom: -25px;
	left: 58px;

	color: #7C7C7C;

	font-weight: bold;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
	position: absolute;
	bottom: -29px;

	width: 23px;
	height: 23px;

	text-indent: -9999px;

	background: url('../img/lightbox/controls.png') no-repeat 0px 0px;
}

#cboxPrevious {
	left: 0px;

	background-position: -51px -25px;
}

#cboxPrevious:hover {
	background-position: -51px 0px;
}

#cboxNext {
	left: 27px;

	background-position: -75px -25px;
}

#cboxNext:hover {
	background-position: -75px 0px;
}

#cboxClose {
	right: 0;

	background-position: -100px -25px;
}

#cboxClose:hover {
	background-position: -100px 0px;
}

.cboxSlideshow_on #cboxSlideshow {
	right: 27px;

	background-position: -125px 0px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
	background-position: -150px 0px;
}

.cboxSlideshow_off #cboxSlideshow {
	right: 27px;

	background-position: -150px -25px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
	background-position: -125px 0px;
}