/*
|--------------------------------------------------------------------------
| MAIN DESIGN
|--------------------------------------------------------------------------
|
| Main design for the game
|
*/

/*
|--------------------------------------------------------------------------
| GENERAL
|--------------------------------------------------------------------------
*/
body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

@media (min-width:1280px) {
	/* Règles pour grandes résolutions */
}
