/*
|--------------------------------------------------------------------------
| MAP DESIGN
|--------------------------------------------------------------------------
|
| Design for the map (background, elements, landscapes, ...)
|
*/

/*
|--------------------------------------------------------------------------
| WRAPPER - BACKGROUND
|--------------------------------------------------------------------------
*/
#wrapper {
	position: relative;
	z-index: 1;

	overflow: hidden;

	width: 1280px;
	height: 3200px;
	margin: auto;

	background: url('../img/map/bg.png') repeat;
}

#wrapper div {
	position: absolute;
}

.flowers1 {
	width: 64px;
	height: 64px;

	background: url('../img/map/bg-flowers-1.png');
}

.flowers2 {
	width: 64px;
	height: 32px;

	background: url('../img/map/bg-flowers-2.png');
}

.wallpaper {
	width: 320px;
	height: 320px;
	z-index: 50;
	
	background: url('../img/map/qrcode-wallpaper.png');
}

/*
|--------------------------------------------------------------------------
| Objets
|--------------------------------------------------------------------------
*/

.key {
	z-index: 100;

	width: 32px;
	height: 32px;
	background-image: url('../img/objets/key.png');
}

/*
|--------------------------------------------------------------------------
| PNJs & Player
|--------------------------------------------------------------------------
*/
.pnj, #player {
	z-index: 100;

	width: 32px;
	height: 64px;
	margin-top: -32px;
}

.garcon {
	background-image: url('../img/personnages/garcon.png');
}

.fille {
	background-image: url('../img/personnages/fille.png');
}

.paulo {
	background-image: url('../img/personnages/paulo.png');
}

.raguenar {
	background-image: url('../img/personnages/raguenar.png');
}

.effe-pegea {
	background-image: url('../img/personnages/effe-pegea.png');
}

.font-fayce {
	background-image: url('../img/personnages/font-fayce.png');
}

.ays-peon {
	background-image: url('../img/personnages/ays-peon.png');
}

.nethan-thau {
	background-image: url('../img/personnages/nethan-thau.png');
}

.beer-nard {
	background-image: url('../img/personnages/beer-nard.png');
}

.kaas-tou {
	background-image: url('../img/personnages/kaas-tou.png');
}

.wiki-m {
	background-image: url('../img/personnages/wiki-m.png');
}

.stai-fouyon {
	background-image: url('../img/personnages/stai-fouyon.png');
}

.aymi-li {
	background-image: url('../img/personnages/aymi-li.png');
}

.minet {
	background-image: url('../img/personnages/minet.png');
}

.orientationBas, 
.orientationBas.frame0 {
	background-position: 0 0;
}

.orientationBas.frame1 {
	background-position: 32px 0;
}

.orientationBas.frame2 {
	background-position: 64px 0;
}

.orientationBas.frame3 {
	background-position: 96px 0;
}

.orientationGauche, 
.orientationGauche.frame0 {
	background-position: 0 -64px;
}

.orientationGauche.frame1 {
	background-position: 32px -64px;
}

.orientationGauche.frame2 {
	background-position: 64px -64px;
}

.orientationGauche.frame3 {
	background-position: 96px -64px;
}

.orientationDroite,
.orientationDroite.frame0 {
	background-position: 0 -128px;
}

.orientationDroite.frame1 {
	background-position: 32px -128px;
}

.orientationDroite.frame2 {
	background-position: 64px -128px;
}

.orientationDroite.frame3 {
	background-position: 96px -128px;
}

.orientationHaut,
.orientationHaut.frame0 {
	background-position: 0 -192px;
}

.orientationHaut.frame1 {
	background-position: 32px -192px;
}

.orientationHaut.frame2 {
	background-position: 64px -192px;
}

.orientationHaut.frame3 {
	background-position: 96px -192px;
}

/*
|--------------------------------------------------------------------------
| Bicyclette
|--------------------------------------------------------------------------
*/
.bicyclette {
    width: 48px !important;
    margin-left: -8px;
}

.garcon.bicyclette {
	background-image: url('../img/personnages/garcon-bicyclette.png');
}

.fille.bicyclette {
	background-image: url('../img/personnages/fille-bicyclette.png');
}

.orientationBas.bicyclette.frame1 {
	background-position: 48px 0;
}

.orientationBas.bicyclette.frame2 {
	background-position: 96px 0;
}

.orientationBas.bicyclette.frame3 {
	background-position: 144px 0;
}

.orientationGauche.bicyclette.frame1 {
	background-position: 48px -64px;
}

.orientationGauche.bicyclette.frame2 {
	background-position: 96px -64px;
}

.orientationGauche.bicyclette.frame3 {
	background-position: 144px -64px;
}

.orientationDroite.bicyclette.frame1 {
	background-position: 48px -128px;
}

.orientationDroite.bicyclette.frame2 {
	background-position: 96px -128px;
}

.orientationDroite.bicyclette.frame3 {
	background-position: 144px -128px;
}

.orientationHaut.bicyclette.frame1 {
	background-position: 48px -192px;
}

.orientationHaut.bicyclette.frame2 {
	background-position: 96px -192px;
}

.orientationHaut.bicyclette.frame3 {
	background-position: 144px -192px;
}

/*
|--------------------------------------------------------------------------
| MONTAGNES
|--------------------------------------------------------------------------
*/
#mountain {
	width: 100%;
	height: 100%;
}

#mountain .corner {
	width: 32px;
	height: 32px;

	background: url('../img/map/mountain-corner.png');
}

#mountain .door {
	width: 96px;
	height: 64px;

	background: url('../img/map/mountain-door.png');
}

#mountain .front {
	width: 1184px;
	height: 32px;

	background: url('../img/map/mountain-front.png') repeat-x;
}

#mountain .right {
	width: 32px;
	height: 100%;

	background: url('../img/map/mountain-right.png') repeat-y;
}

#mountain .runes {
	width: 32px;
	height: 32px;

	background: url('../img/map/mountain-runes.png');
}

#mountain .upper {
	background: url('../img/map/mountain-upper.png');
}

#mountain .upper.top {
	width: 100%;
	height: 64px;
}

#mountain .upper.left {
	width: 64px;
	height: 100%;
}

/*
|--------------------------------------------------------------------------
| PRAIRIE
|--------------------------------------------------------------------------
*/
#prairie {
	width: 100%;
	height: 100%;
}

#prairie .path {
	width: 96px;
	height: 960px;

	background: url('../img/map/absurd-path.png') repeat-y;
}

#prairie .path.end {
	height: 32px;

	background: url('../img/map/absurd-path-end.png');
}

/*
|--------------------------------------------------------------------------
| RUNES
|--------------------------------------------------------------------------
*/
#runes {
	width: 352px;
	height: 480px;

	background: url('../img/map/runes.png');
}

/*
|--------------------------------------------------------------------------
| FOREST
|--------------------------------------------------------------------------
*/
#forest {
	width: 448px;
	height: 928px;

	background: url('../img/map/forest.png');
}

/*
|--------------------------------------------------------------------------
| RED CITY
|--------------------------------------------------------------------------
*/
#red-city {
	width: 100%;
	height: 100%;
}

#red-city .city {
	width: 576px;
	height: 928px;

	background: url('../img/map/red-city.png');
}

#red-city .road {
	width: 96px;
	height:	576px;

	background: url('../img/map/road-rc-port.png') repeat-y;
}
/*
|--------------------------------------------------------------------------
| BLUE CITY
|--------------------------------------------------------------------------
*/
#blue-city {
	width: 100%;
	height: 100%;
}

#blue-city .city {
	width: 480px;
	height: 1120px;

	background: url('../img/map/blue-city.png');
}

#blue-city .road {
	width: 416px;
	height:	224px;

	background: url('../img/map/road-bc-port.png');
}

/*
|--------------------------------------------------------------------------
| PORT
|--------------------------------------------------------------------------
*/
#port {
	width: 704px;
	height: 512px;

	background: url('../img/map/port.png');
}

#pc.on {
	width: 32px;
	height: 64px;

	background: url('../img/map/pc-on.png');
}

#phare {
    width: 64px;
    height: 112px;
    margin-top: 16px;
    
    background: url('../img/map/phare.gif');
}

/*
|--------------------------------------------------------------------------
| MER
|--------------------------------------------------------------------------
*/
#sea {
	width: 100%;
	height: 100%;
}

#sea .top {
	width: 100%;
	height: 32px;

	background: url('../img/map/sea-top.png');
}

#sea .water {
	width: 100%;
	height:	100%;

	background: url('../img/map/sea.png');
}

#sea .boat {
	width: 256px;
	height:	128px;

	background: url('../img/map/jbh-boat.png');
}

/*
|--------------------------------------------------------------------------
| EMOTICONES
|--------------------------------------------------------------------------
*/
.emoticone {
    width: 32px;
    height: 32px;
    margin-top: -40px;
    z-index: 3000;
    background: url('../img/personnages/emoticones.png');
}

.exclamation {
    background-position: 0 0;
}

.question {
    background-position: 0 -32px;
}

.muet {
    background-position: 0 -64px;
}

.chanson {
    background-position: 0 -96px;
}

.amour {
    background-position: 0 -128px;
}

.smile {
    background-position: 0 -160px;
}

.supersmile {
    background-position: 0 -192px;
}

.laugh {
    background-position: 0 -224px;
}

.superlaugh {
    background-position: 0 -256px;
}

.bad {
    background-position: 0 -288px;
}

.superbad {
    background-position: 0 -320px;
}

.evil {
    background-position: 0 -352px;
}

.sad {
    background-position: 0 -384px;
}

.supersad {
    background-position: 0 -416px;
}

/*
|--------------------------------------------------------------------------
| NUIT
|--------------------------------------------------------------------------
*/
#wrapper.nuit {
	background: url('../img/map_night/bg_night.png') repeat;
}

.nuit .key {
	background-image: url('../img/objets/key_night.png');
}

.nuit .flowers1 {
	background: url('../img/map_night/bg-flowers-1_night.png');
}

.nuit .flowers2 {
	background: url('../img/map_night/bg-flowers-2_night.png');
}

.nuit .wallpaper {
	background: url('../img/map_night/qrcode-wallpaper_night.png');
}

.nuit .garcon {
	background-image: url('../img/personnages/garcon_night.png');
}

.nuit .fille {
	background-image: url('../img/personnages/fille_night.png');
}

.nuit .raguenar {
	background-image: url('../img/personnages/raguenar_night.png');
}

.nuit .effe-pegea {
	background-image: url('../img/personnages/effe-pegea_night.png');
}

.nuit .font-fayce {
	background-image: url('../img/personnages/font-fayce_night.png');
}

.nuit .ays-peon {
	background-image: url('../img/personnages/ays-peon_night.png');
}

.nuit .nethan-thau {
	background-image: url('../img/personnages/nethan-thau_night.png');
}

.nuit .beer-nard {
	background-image: url('../img/personnages/beer-nard_night.png');
}

.nuit .kaas-tou {
	background-image: url('../img/personnages/kaas-tou_night.png');
}

.nuit .wiki-m {
	background-image: url('../img/personnages/wiki-m_night.png');
}

.nuit .stai-fouyon {
	background-image: url('../img/personnages/stai-fouyon_night.png');
}

.nuit .aymi-li {
	background-image: url('../img/personnages/aymi-li_night.png');
}
.nuit .paulo {
	background-image: url('../img/personnages/paulo_night.png');
}
.nuit .minet {
	background-image: url('../img/personnages/minet_night.png');
}

.nuit .garcon.bicyclette {
	background-image: url('../img/personnages/garcon-bicyclette_night.png');
}

.nuit .fille.bicyclette {
	background-image: url('../img/personnages/fille-bicyclette_night.png');
}

.nuit #mountain .corner {
	background: url('../img/map_night/mountain-corner_night.png');
}

.nuit #mountain .door {
	background: url('../img/map_night/mountain-door_night.png');
}

.nuit #mountain .front {
	background: url('../img/map_night/mountain-front_night.png') repeat-x;
}

.nuit #mountain .right {
	background: url('../img/map_night/mountain-right_night.png') repeat-y;
}

.nuit #mountain .runes {
	background: url('../img/map_night/mountain-runes_night.png');
}

.nuit #mountain .upper {
	background: url('../img/map_night/mountain-upper_night.png');
}

.nuit #prairie .path {
	background: url('../img/map_night/absurd-path_night.png') repeat-y;
}

.nuit #prairie .path.end {
	background: url('../img/map_night/absurd-path-end_night.png');
}

.nuit #runes {
	background: url('../img/map_night/runes_night.png');
}

.nuit #forest {
	background: url('../img/map_night/forest_night.png');
}

.nuit #red-city .city {
	background: url('../img/map_night/red-city_night.png');
}

.nuit #red-city .road {
	background: url('../img/map_night/road-rc-port_night.png') repeat-y;
}

.nuit #blue-city .city {
	background: url('../img/map_night/blue-city_night.png');
}

.nuit #blue-city .road {
	background: url('../img/map_night/road-bc-port_night.png');
}

.nuit #port {
	background: url('../img/map_night/port_night.png');
}

.nuit #pc.on {
	background: url('../img/map_night/pc-on_night.png');
}

.nuit #phare {
	background: url('../img/map_night/phare_night.gif');
}

.nuit #sea .top {
	background: url('../img/map_night/sea-top_night.png');
}

.nuit #sea .water {
	background: url('../img/map_night/sea_night.png');
}

.nuit #sea .boat {
	background: url('../img/map_night/jbh-boat_night.png');
}

.nuit .emoticone {
    background-image: url('../img/personnages/emoticones_night.png');
}