<!DOCTYPE html>
<html lang="fr">
<head>
	<!-- Title -->
	<title>Soirée MiNET [07/12/12]</title>
	<link rel="icon" type="image/png" href="img/icone.png">
	
	<!-- Meta -->
	<meta name="description" content="Soirée MiNET 2012... Coming Soon !" />
	<meta name="keywords" content="MiNET, soirée, hack, Télécom, Soirée MiNET 2012, TMSP, TEM, TSP, Télécom SudParis, Télécom École de Management" />
	<meta name="author" content="Espeon" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
	<meta charset="utf-8" />
	
	<!-- CSS -->
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/main.css" />
	<link rel="stylesheet" href="css/map.css" />
</head>
<body>
	<!--[if lt IE 9]>
	    <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
	    <script>CFInstall.check({ mode: "overlay" });</script>
    <![endif]-->
    
	<!-- Menu de contrôle -->
	<nav id="control">
		<ul>
			<li class="font-icon" data-control="menu">j</li>
			<li class="font-icon" data-control="audio" class="pause">p</li>
		</ul>
	</nav>
	
	<!-- Menu de navigation -->
	<nav id="menu" class="hidden">
		<ul class="clearfix">
			<li>
				<a href="#description" data-title="Soirée MiNET">Soirée MiNET</a>
			</li>
			<li>
				<a href="#animations" data-title="Les animations">Animations</a>
			</li>
			<li>
				<a href="#tarifs" data-title="Les tarifs">Tarifs</a>
			</li>
			<li>
				<a href="#howToPlay" data-title="How to Play ?">How to Play ?</a>
			</li>
		</ul>
	</nav>
	
	<!-- Interactions -->
	<div id="interaction"></div>
	
	<!-- Notifications -->
	<div id="notification"></div>
	
	<!-- Contenu du jeu -->
	<div id="wrapper">
		<!-- Décor BG du jeu -->
		<div class="flowers1" data-top="21" data-left="5"></div>
		<div class="flowers1" data-top="26" data-left="15"></div>
		<div class="flowers1" data-top="45" data-left="21"></div>
		<div class="flowers1" data-top="49" data-left="38"></div>
		<div class="flowers1" data-top="55" data-left="28"></div>
		<div class="flowers1" data-top="57" data-left="6"></div>
		<div class="flowers1" data-top="65" data-left="23"></div>
		
		<div class="flowers2" data-top="4" data-left="19"></div>
		<div class="flowers2" data-top="4" data-left="25"></div>
		
		<!-- Montagnes -->
		<div id="mountain">
			<div class="upper top" data-x="1" data-y="1"></div>
			<div class="upper left" data-x="1" data-y="1"></div>
			<div class="corner" data-x="3" data-y="3"></div>
			<div class="front" data-x="4" data-y="3"></div>
			<div class="right" data-x="3" data-y="4"></div>
			<div class="door" data-x="22" data-y="2"></div>
			<div class="runes" data-x="5" data-y="3"></div>
		</div>
		
		<!-- Runes -->
		<div id="runes" data-x="7" data-y="2">
		</div>
		
		<!-- Prairie -->
		<div id="prairie">
			<div class="path" data-x="22" data-y="4"></div>
			<div class="path end" data-x="22" data-y="34"></div>
		</div>
		
		<!-- Forêt -->
		<div id="forest" data-x="27" data-y="3">
		</div>
		
		<!-- Red City -->
		<div id="red-city">
			<div class="city" data-x="4" data-y="28"></div>
			<div class="road" data-x="10" data-y="57"></div>
		</div>
		
		<!-- Blue City -->
		<div id="blue-city">
			<div class="city" data-x="26" data-y="55"></div>
			<div class="road" data-x="13" data-y="67"></div>
		</div>
		
		<!-- Port -->
		<div id="port" data-x="4" data-y="74">
			<div id="pc" data-x="14" data-y="11"></div>
		</div>
		
		<!-- Mer -->
		<div id="sea">
			<div class="top" data-x="4" data-y="90"></div>
			<div class="water" data-x="4" data-y="91"></div>
			<div class="boat" data-x="4" data-y="96"></div>
		</div>
		
		<!-- PNJs -->
		<ul id="pnjs"></ul>
	</div>
	
	<!-- Templates -->
	<script type="text/template" id="pnj-template">
		<div class="pnj <%= type %> <%= ORIENTATION[orientation] %>" data-x="<%= position[0] %>" data-y="<%= position[1] %>"></div>
	</script>
	
	<script type="text/template" id="player-template">
		<div id="player" class="<%= type %> <%= ORIENTATION[orientation] %> frame<%= frame %>" data-x="<%= position[0] %>" data-y="<%= position[1] %>">
			<!-- Here is your player ! -->
		</div>
	</script>
	
	<div id="description" class="hidden">   
	    <h1>Le 7 Décembre 2012, MiNET Hack le foyer !</h1>
	    <p>
	        Trois ans après avoir enflammé la banquise, <strong>la soirée MiNET revient en force</strong>.
	    </p>
	    <p>
	        Alors accroche-toi bien à ton clavier car cette année encore, MiNET va te faire vivre une nuit légendaire !
	    </p>
	</div>
	
	<div id="animations" class="hidden">
	    <h1>Au programme...</h1>
	    <ul>
	        <li>Show Pomp'INT</li>
	        <li>Show Mov'INT</li>
	        <li>Projet X by <em>les Vieux</em></li>
	        <li>Projet Y by <em>Bricol'INT</em</li>
	    </ul>
	</div>
	
	<div id="tarifs" class="hidden">
	    <h1>La soirée <em>hack discount</em></h1>   
	    <dl>
	        <dt>Entrée</dt>
	            <dd>= 3€</dd>
	        <dt>Consos</dt>
	            <dd>+ 2€</dd>
	        <dt>Extés</dt>
	            <dd>+ 5€</dd>
	    </dl>
	</div>
	
	<div id="howToPlay" class="hidden">
	    <h1>Le principe</h1>
	    <p>
	        Cupcake ipsum dolor sit amet lemon drops tootsie roll dessert danish. Macaroon cupcake caramels. I love I love tiramisu cupcake oat cake croissant I love I love topping.
	    </p>    
	    <h1>Les commandes</h1>
	    <p>
	        I love I love soufflé carrot cake ice cream chupa chups tootsie roll tiramisu. Sesame snaps croissant applicake. I love cake cotton candy.
	    </p>    
	    <p>
	    	I love gummies chocolate bar oat cake gummies I love gingerbread. Caramels candy canes marzipan wafer I love. Cupcake chupa chups marshmallow chocolate soufflé lemon drops.
	    </p>
	    <h1>One more thing...</h1>
	    <p>
	        Pie danish chocolate bar I love. Jelly beans wafer croissant toffee tiramisu danish biscuit biscuit jujubes. Pie dragée chocolate cake oat cake. Sweet cookie chocolate cake jelly gummi bears I love candy.
	    </p>
	    <p>
	        Cupcake ipsum dolor sit amet lemon drops tootsie roll dessert danish. Macaroon cupcake caramels. I love I love tiramisu cupcake oat cake croissant I love I love topping.
	    </p> 
	</div>
	
	<div id="social" class="hidden">
		<h1>Bienvenue sur le PC de MiNET</h1>	
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://soiree.minet.net" data-text="Soirée MiNET, le 7 décembre 2012 - H**k me I'm famous -" data-via="MinetTMSP" data-lang="fr" data-size="large" data-related="MinetTMSP">Tweeter</a>
	</div>
	
	<!-- Librairies JS -->
	<script src="js/lib/jquery-1.7.2.min.js"></script>
	<script src="js/lib/underscore.min.js"></script>
	<script src="js/lib/backbone.min.js"></script>
	<script src="js/lib/toastmessage.js"></script>
	<script src="js/lib/buzz.js"></script>
	<script src="js/lib/colorbox.js"></script>
	
	<!-- Scripts JS -->
	<script src="js/var.js"></script>
	<script src="js/personnages.js"></script>
	<script src="js/audio.js"></script>
	<script src="js/event.js"></script>
	<script src="js/app.js"></script>
	
	<!-- Script social media -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</body>
</html>